:root {
  --color1: rgb(62, 120, 178);
  --color2: rgba(99, 199, 178, 1);
  --color3: rgba(247, 178, 183, 1);
  --color4: rgba(214, 87, 128, 1);
  --color5: rgb(123, 40, 125, 1);
  --color6: rgb(255, 255, 255, 1);
}
