.Nav {
  grid-area: Nav;
  background-color: var(--color4);
  height: auto;
}

.navbar-links {
  display: none;
  flex-direction: column;
}

.navbar-links.opened {
  display: flex;
}

.toggle {
  display: block;
  font-size: 30px;
}

.navbar-link {
  border-bottom: none;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 30px;
}

@media screen and (min-width: 600px) {
  .navbar-links {
    display: flex;
    flex-flow: row nowrap;
  }

  .navbar-link {
    display: flex;
    align-items: center; /* we want children to be centered vertically*/
    margin: 10px;
  }

  .navbar-home {
    display: none;
  }

  .toggle {
    display: none;
    padding: 8px;
    font-size: 16px;
  }
}

/* reset style */
body,
ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #484848;
}

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: 0;
}
